$err_msg = "Le fichier mis à disposition sur notre site n'a pas été trouvé à l'url donné";
<p>Explication de la procédure de vérification</p>
<form action="/zerowing/telecharger">
    <input type="submit" value="Télécharger le fichier de vérification" />
</form>

<form action="/zerowing/verification">
    <input name="urlficsursite" type="text" />
    <input type="submit" value="Vérifier" />
</form>

<form action="/zerowing/tests">
    <input type="hidden" value="{{ url }}" name="url" />
    <input type="submit" value="Tester votre site" />
</form>