<p>Selectionnez un test à exécuter sur le site {{ url }}</p>
<form action="/zerowing/tests/test1">
    <input type="submit" value="Test 1" />
</form>
<form action="/zerowing/tests/test2">
    <input type="submit" value="Test 2" />
</form>
<form action="/zerowing/tests/test3">
    <input type="submit" value="Test 3" />
</form>