<div>
    <h1>Vérification de propriété</h1>
    <p>Afin de vérifier que vous êtes bien le propriétaire du site et de vous donnez accès à nos tests veuillez suivre les instructions suivantes :  </p>
    <br></br>
    <p>1 : Télécharger le fichier de validation html </p>
    <p>2 :  Transférez le fichier vers http://lorem.ovh/. </p>
    <p>3 :  Confirmez la réussite du transfert en accédant au site  dans votre navigateur. </p>
    <p>4 :  Cliquez sur "Valider" ci-dessous.</p>
    <br></br>
    <p>VALIDER</p>
    <br></br>
    <p>Pour conserver votre statut de propriétaire confirmé, ne supprimez pas le fichier HTML, même une fois la validation effectuée.</p>

</div>

<div>OOPS ! Vous avez fait une fausse manipulation ? <a href="{{ path('fos_user_profile_show') }}">Retournez sur votre profile !</a></div>